.calender-wrapper {
	width: 745px;
}

#mycarousel {
	position: relative;
	overflow: hidden;
	height: 100%;
}

.jcarousel-skin-tango .jcarousel-direction-rtl {
	direction: rtl;
}

.jcarousel-skin-tango .jcarousel-clip {
	overflow: hidden;
}

.jcarousel-skin-tango .jcarousel-clip-horizontal,
.jcarousel-skin-tango .jcarousel-item {
	width: 713px;
	margin: 0 auto;
}

.jcarousel-skin-tango .jcarousel-item-horizontal {
	margin-right: 10px;
}

.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-item-horizontal {
	margin-left: 10px;
}

.jcarousel-skin-tango .jcarousel-next-horizontal,
.jcarousel-skin-tango .jcarousel-prev-horizontal {
	position: absolute;
	top: 2px;
	width: 15px;
	height: 50px;
	cursor: pointer;
}

.jcarousel-skin-tango .jcarousel-next-horizontal {
	right: 0;
	background: url(../images/common/next.gif) no-repeat 0 0;
}

.jcarousel-skin-tango .jcarousel-prev-horizontal {
	left: 0;
	background: url(../images/common/prev.gif) no-repeat 0 0;
}

.jcarousel-skin-tango .jcarousel-next-disabled-horizontal,
.jcarousel-skin-tango .jcarousel-next-horizontal:hover,
.jcarousel-skin-tango .jcarousel-next-horizontal:focus,
.jcarousel-skin-tango .jcarousel-next-horizontal:active {
	background: url(../images/common/next.gif) no-repeat 0 -50px;
}

.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal,
.jcarousel-skin-tango .jcarousel-prev-horizontal:hover, 
.jcarousel-skin-tango .jcarousel-prev-horizontal:focus,
.jcarousel-skin-tango .jcarousel-prev-horizontal:active {
	background: url(../images/common/prev.gif) no-repeat 0 -50px;
}