@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Noto+Serif+JP&display=swap');

/* 外部リンク
------------------------------------------------------------------------------- */
.nonepadding {
	padding: 0 !important;
}
	
	a.blank {
	text-decoration: underline;
}
a.blank:after {
	content: '';
	display: inline-block;
	margin-left: 5px;
	margin-right: 5px;
	width: 7px;
	height: 7px;
	background-image: url(../images/common/external-icon-gray.png);
	background-size: 7px, 7px;
	background-repeat: no-repeat;
}



/* font
==================================================================================== */
.serif {
	font-family: "游明朝", YuMincho, "Noto Serif JP", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
}

.bold {
	font-weight: bold;
}

.small {
	font-size: 13px;
	font-size: 1.3rem;
}

.white {
	color: #fff;
}

/* 文字
------------------------------------------------------------------------------- */

.t-center {
	text-align: center;
}

.db-sp {
	display: block;
}

.is-pc {
	display: none;
}

em {
	font-style: normal !important;
}

/* 画像のセンタリング
==================================================================================== */
img.center {
	display: block;
	margin: 0 auto;
	margin-left: auto;
	margin-right: auto;
}

img.circle {
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
}

.circle img {
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
}

.cntr {
	display: -webkit-box;/* Android4.3以前ブラウザ用 */
	display: -webkit-flex;/* iOS8以前Safari用 */
	display: flex;
	-webkit-box-pack: center;/* Android4.3以前ブラウザ用 */
	-webkit-justify-content: center;/* iOS8以前Safari用 */
	justify-content: center;
	-webkit-box-align: center;/* Android4.3以前ブラウザ用 */
	-webkit-align-items: center;/* iOS8以前Safari用 */
	align-items: center;
	height: 100%;
}


/* リスト
==================================================================================== */
.l-list {
}
.l-list li {
	list-style: none;
}

/* リスト > センター
------------------------------------------------------------------------------- */
.l-list-center {
}
.l-list-center > ul {
	text-align: center;
}
.l-list-center > ul > li {
  display: -moz-inline-box;
  display: inline-block;
  /display: inline;
  /zoom: 1;
}

/* リスト　> インデント
------------------------------------------------------------------------------- */
ul.indent {
	margin-left: 0;
	margin-bottom: 2em;
	line-height: 1.6;
}
 
ul.indent > li {
	margin-bottom: 5px;
	padding-left: 1em; /*1em（1文字）分、右に動かす*/
	text-indent: -1em; /*最初の行だけ1em（1文字）分、左に動かす*/
}

ul.indent > li > ul {
	padding-left: 1em; /*1em（1文字）分、右に動かす*/
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}


/* display on/off
==================================================================================== */
.is-mobile { display: block; }
.is-pc, .is-tablet, .is-pc-tablet { display: none; }

@media screen and (min-width: 768px){
.is-mobile { display: none; }
.is-pc { 	display: none; }
.is-tablet,.is-pc-tablet { display: block; }}
@media screen and (min-width:1024px){
#profile .is-mobile { display: none; }
.is-tablet { display: block; }}

.pc-t-center { text-align: left; }
@media screen and (min-width:768px){.pc-t-center {	text-align: center; }}
.mobile-t-center { text-align: center; }
@media screen and (min-width:768px){.mobile-t-center {	text-align: left; }}






/* button
==================================================================================== */
.button-container {
	text-align: center;
}

.button {
	display: inline-block;
	padding: 0 3em;
	height: 40px;
	text-align: center;
	text-decoration: none;
	line-height: 37px;
	outline: none;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
}

.post-body .button {
	width: 100%;
	margin-top: 1.5em;
	padding: 0 3em;
}

.button::before,
.button::after {
	position: absolute;
	z-index: -1;
	display: block;
	content: '';
}
.button,
.button::before,
.button::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all .3s;
	transition: all .3s;
}


/* シャドウ
==================================================================================== */

/* shadow */
.shadow-inside {
  -webkit-box-shadow: inset 0 8px 8px -8px #848484; /* Safari, Chrome用 */
  -moz-box-shadow: inset 0 8px 8px -8px #848484; /* Firefox用 */
	box-shadow: inset 0 8px 8px -8px #848484; /* CSS3 */
}
/* shadow-inside */
.shadow-outside {
/* 	border-radius: 1px; */
	-webkit-box-shadow: 0 5px 5px -6px #848484;
	-moz-box-shadow: 0 5px 5px -6px #848484;
	box-shadow: 0 5px 5px -6px #848484;
}


/* モバイル用サイドメニュー
------------------------------------------------------------------------------- */
/*
#btns {
	position: absolute;
	top: 12px;
	left: 20px;
	z-index: 9999;
	display: block
}
*/


/* モバイル用サイドメニューのなかみ
------------------------------------------------------------------------------- */
/*
.sb-slidebar {
	color: #fff;
}
*/

/* パンくずナビゲーション
------------------------------------------------------------------------------- */
.breadcrumb {
	display: none;
	background: #f4f4f4;
	width: 100%;
	margin: 0 auto;
	padding: 1em 0 1em 0;
	font-size: 11px; font-size: 1.1rem;
	color: #999;
}

.breadcrumb br {
	display: none;
}

.breadcrumb span a span {
	padding: 0 0.5em;
}

.breadcrumb span a span,
.breadcrumb span a:active span　{
	color: #999;
	text-decoration: none;
}
.breadcrumb span a:hover  　{
	color: #999;
	text-decoration: none;
}

span.home a span,
span.home a:active span　{
	color: #999;
	text-decoration: none !important;
}
.breadcrumb .home a:hover {
	color: #999;
	text-decoration: none;
}

/* min-width:992px
==================================================================================== */
@media screen and (min-width:992px){
}

/* loader
==================================================================================== */
.l-loading {
	width: 100%;
	height: 100%;
	display: none;
	background-color: #fff;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 9999;
}
.js-loading {
	width: 30px;
	height: 30px;
	display: none;
	position: fixed;
	_position: absolute; /* IE6対策 */
	top: 50%;
	left: 50%;
	margin-top: -15px; /* heightの半分のマイナス値 */
	margin-left: -15px; /* widthの半分のマイナス値 */
	z-index: 9999;
}
.js-loading-circle {
	position: absolute;
	top: -5px;	left: -4.5px;
	width: 50px; /*ローディングアイコンの横サイズ*/
	height: 50px; /*ローディングアイコンの縦サイズ*/
	border-radius: 30px;  /*CSS3で円を書く*/
	border: 5px solid #a7bc0a;  /*color*/

	border-right-color: transparent; /*円の右にC状の空きをつける*/
	-webkit-animation: spin 1s infinite linear; /*回転のアニメーションをつける*/
	-moz-animation: spin 1s infinite linear;
}
 /*キーフレームのアニメーションをつける*/
@-webkit-keyframes spin
{
	0% { -webkit-transform: rotate(0deg); opacity: 0.4; }
	50%  { -webkit-transform: rotate(180deg); opacity: 1; }
	100%   { -webkit-transform: rotate(360deg); opacity: 0.4; }
}
@-moz-keyframes spin
{
	0% { -moz-transform: rotate(0deg); opacity: 0.4; }
	50%  { -moz-transform: rotate(180deg); opacity: 1; }
	100%   { -moz-transform: rotate(360deg); opacity: 0.4; }
}


/* min-width:375px
==================================================================================== */
@media screen and (min-width:375px){
}

/* min-width:480px
==================================================================================== */
@media screen and (min-width:480px){
}

/* min-width: 768px PC
==================================================================================== */
@media screen and (min-width:768px){
.breadcrumb {
	display: block;
}

.button {
	height: 54px;
	line-height: 52px;
}

.breadcrumb {
	width: 100%;
	margin: 0 auto;
	padding: 1em 0 1em 20px;
}
}

/* min-width:992px
==================================================================================== */
@media screen and (min-width:992px){
}

/* min-width:1200px
==================================================================================== */
@media screen and (min-width:1200px){
}