@charset "utf-8";

.mv-main {
  position: relative;
  top:0;
  margin: 77px auto 0;
  max-width: 1440px;
}

.mv-main img.mv {
  display: block;
  width: 100%;
}

.mv-main img.txt_pos {
  position: absolute;
  max-width: 74px;
  width: 5.06%;
/*
  top: 35px;
  right: 99px;
*/
  top: 2.43%;
  right: 6.87%;
}


.mv-main img.bage_pos {
  position: absolute;
  max-width: 223px;
  width: 19.21%;
/*
  top: -31px;
  right: 76px;
*/
  bottom: -2.15%;
  right: 5.27%;
}

img.copy_pos {
  display: block;
  max-width: 440px;
  width: 30.55%;
  margin: 0 auto;
}

img.price_pos {
  display: block;
  max-width: 224px;
  width: 34.72%;
  margin: 0 auto;
}

.msg p {
  text-align: center;
  padding: 3em 0;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 2.5;
}


.concept {
  background-color: #F7F7ED;
}

.concept .inner {
  max-width: 1440px;
  width: 95%; 
  margin: 0 auto;
  padding: 5em 0;
  display:-webkit-box;
	display:-moz-box;
	display:-ms-flexbox;
	display:-webkit-flex;
	display:flex;
}

.concept .message {
  width: 45%;
}

.concept .message h2 {
  font-size: 30px;
  font-size: 3.0rem;
  padding-bottom: 1em;
}

.concept .message p {
  padding-bottom: 1em !important;
}

.concept .landscape {
  width: 55%;
}

.concept .landscape img {
  display: block;
  margin: 0 auto;
}

.feature {
  padding: 5em 0;
  
  display:-webkit-box;
	display:-moz-box;
	display:-ms-flexbox;
	display:-webkit-flex;
	display:flex;

	-ms-flex-pack:space-between;
	-webkit-justify-content:space-between;
	-moz-justify-content:space-between;
	-ms-justify-content:space-between;
	justify-content:space-between;

}

.feature div {
	max-width: 360px;
	width: 30.76%;
}

.feature div h3 {
  color: #a7bc0a;
  padding: 1em 0;
}

.mv_suv {
  height: 0;
  /* 表示画像の高さ ÷ 表示画像の幅 × 100 */
  padding-top: 46%;
  background: url('../images/nakazawa/mv_02.png') 0 0 no-repeat;
  background-size: contain;
}


.location .inner {
  max-width: 1440px;
  width: 95%; 
  margin: 0 auto;
  padding: 3em 0;
  display:-webkit-box;
	display:-moz-box;
	display:-ms-flexbox;
	display:-webkit-flex;
	display:flex;
}

.location > .inner > div {
  width: 50%;
}

.location > .inner > div.info {
  padding: 0 3em;
}

.info h3{
  font-size: 26px;
  font-size: 2.6rem;
  padding-bottom: 1em;
}

#google-maps {
  width: 100%;
  height: 460px;
  margin: 0 auto 2em;
}

p.re br {
	display: block;
}

p.sppp {
	width: 90%;
	margin: 2rem auto;
}

@media (max-width: 425px) {

	p.re br {
		display: none;
	}

	p.sppp {
		display: block;
	}


}

@media (max-width: 768px) {

.mv-main {
  position: relative;
  top:0;
  margin: 66px auto 0;
}

img.copy_pos {
  width: 220px;
}

img.price_pos {
  width: 250px;
}


  .concept .inner {
    width: 90%;
    padding: 3em 0;

    display: flex;
    flex-direction: column-reverse;
  }
  .concept .message,
  .concept .landscape {
    width: 100%;
    margin: 0 auto;
  }
    .concept .landscape {
      margin-bottom: 3em;
}

  .concept .message h2 {
    text-align: center;
  }
  /**/
  .feature {
    display: block;
  }
  .feature div {
	  max-width: 90%;
  	width: 90%;
  	margin: 0 auto 3em;
  }

  .feature div img {
  	width: 100%;
  	margin: 0 auto;
  }
  
  .location .inner {
    display: block;
  }
  .location > .inner > div {
    width: 100%;
  }
  
  .location > .inner > div.map {
    padding: 0 0 3em 0;
  }

  .location > .inner > div.info {
    width: 90%;
    margin: 0 auto;
    padding: 0;
  }


  
    
  
}



