@charset "utf-8";

.order-num {
	margin-bottom: 1em;
}

/* 初期設定
------------------------------------------------------------------------------- */
input[type="text"],
input[type="password"] {
	outline: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	/* padding対策 */
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

/* インプット
------------------------------------------------------------------------------- */
.form-wrapper input {
	width: auto;
	height: 35px;
	margin: 0.4em 0 0.4em;
	padding: 0.5em;
	font-size: 16px;
	font-size: 1.6rem;
	line-height: 1.5;
	border: 1px solid #C4CCCE;
	border-radius:3px !important;
	box-shadow:none;
}
.form-wrapper input:focus {
	border-color:#3c8dbc !important;
	box-shadow:none
}
.form-wrapper input.full-width {
	width: 100%;
}

/* セレクト
------------------------------------------------------------------------------- */
option[selected] {}

select.select-box01  {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	cursor: pointer;
	line-height: 1;
	-webkit-border-radius: 0;
	border-radius:3px !important;
}
select.select-box01  {
/* 	width: 35%; */
	height: 35px;
	font-size: 15px;
	font-size: 1.5rem;
	padding: 0.6em 3em 0.8em 0.8em;
	margin-bottom: 0.4em;
	line-height: 1.8;
	border: 1px solid #ccc;
	background-color: #fff;
	background-image: url(../images/form/select.png);
	background-repeat: no-repeat;
	background-size: 11px auto;
	background-position: right 1em center;
}

/* ラジオボタン
------------------------------------------------------------------------------- */
input[type=radio] {
	display: inline-block;
	margin-right: 6px;
}
input[type=radio] + label {
	position: relative;
	display: inline-block;
	margin-right: 12px;
	line-height: 1.5px;
	cursor: pointer;
}
 


/* ログイン
------------------------------------------------------------------------------- */





/* -----------------------------------------------------------------------------
	フォーム
--------------------------------------------------------------------------------*/
.form-wrapper {
	background: #f3f4f6;
	padding: 1.5em;
	margin: 0; 
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}

.form-wrapper a {
	color: #005bba
}
.form-wrapper a:hover {
	color: #7eaee0
}


.form-header .read,
.container-header .read {
	font-size: 14px;
	font-size: 1.4rem;
	margin: 1em 0;
}
.form-read-strong {
	border: 4px solid #0057b7;
	padding: 1em;
	margin: 1em 0;
}
.form-read-strong p {
	color: #0057b7;
}
.form-wrapper h3 {
	font-size: 14px;
	font-size: 1.4rem;
	font-weight: bold;
	margin-bottom: 1em;
}

/**/
table.form {
	width: 100%;
	margin: 0 auto 0;
}
table.form tr:nth-child(2n) td {
	padding-bottom: 1.5em !important;
}
/* 確認画面 */
table.confirm tr:nth-child(2n) td {
	padding: 0.4em 0 1.5em !important;
	border-top: 1px dotted #999;
}



/* 項目見出し */
td.heading {
	font-weight: bold;
	padding-bottom: 0.3em;
}
td.heading span {
	font-weight: normal;
	font-size: 13px;
	font-size: 1.3rem;
	padding-left: 0.2em;
}
td.heading span.format {
	font-weight: normal;
	color: #999;
	font-size: 13px;
	font-size: 1.3rem;
}

/* 住所 */
.zip-bloc {
}

/* チェックボックス */
.wrapper-radio {
	margin: 0.5em 0;
/* 	padding: 0.5em 0; */
}


input.half {
	width: 49%;
}
input.full {
	width: 100%;
}

.form input.left {
	float: left;
}
.form input.right {
	float: right;
}


/* 住所入力 */
table.form td input.zip01 {
	width: 15%;
}
table.form td input.zip02 {
	width: 18%;
}
.button.auto-zip {
	font-size: 13px; font-size: 1.3rem;
	width: 49%;
	margin: 0.4em 0 0.4em;
	padding: 1.2em 0.5em 1.1em;
}
select.pref {
/* 	width: 49%; */
	margin: 0.4em 0 0.4em;
}
table.form td.tel input {
/* 	width: 18%; */
}


/* エラー
------------------------------------------------------------------------------- */

span.attention {
	display: block;
	font-weight: normal;
	font-size: 13px; font-size: 1.3rem;
}

.error-body {
	margin: 0.4em 0 0;
}
.error-body > span.error {
	display: block;
	line-height: 1.8;
	color: #D00000;
}
input.error {
	border: 1px solid #ff9090;
	background: #ffdcdc;
}
select.error {
	border: 1px solid #ff9090;
	background-color: #ffdcdc;
}


/* フォーム パーツ
------------------------------------------------------------------------------- */
.form-style {
    border: 1px solid #C4CCCE;
    border-radius:3px !important;
    box-shadow:none;
    font-size: 16px;
    font-size: 1.6rem;
    height: 40px;
    padding: 6px 12px;
    width: auto;
    line-height: 1.5
}
.form-style:focus {
    border-color:#3c8dbc !important;
    box-shadow:none
}


/* カート
------------------------------------------------------------------------------- */
.cart-body {
	margin-bottom: 2em;
}

.item-images {
	width: 29%;
	float: left;
}
.item-info {
	width: 68%;
	font-size: 14px;
	font-size: 1.4rem;
	float: right;
}

.cart-body .brand-name {
	font-size: 13px;
	font-size: 1.3rem;
	line-height: 1.4;
}

.cart-body .item-name {
	font-size: 15px;
	font-size: 1.5rem;
	line-height: 1.4;
}

.cart-body select.select-box01  {
	width: auto;
	height: auto;
	float: none;
	font-size: 14px;
	font-size: 1.4rem;
	padding: 0 2.5em 0 0;
	line-height: 1.6;
	border: none;
	background-color: transparent;
	background-image: url(../images/form/select.png);
	background-repeat: no-repeat;
	background-size: 7px auto;
	background-position: 1.25em 0.23em;
}
.cart-body dl {
 margin-bottom: 0.5em;
}
.cart-body dl dt {
	 float: left;
	 padding: 5px 0 5px 0;
	 width: 5em;
}
.cart-body dl dd {
 border-bottom: 1px solid #ccc;
 padding: 5px 0 5px 5em;
}


.total-price dl {
 margin-bottom: 2em;
	font-size: 15px;
	font-size: 1.5rem;
}
.total-price dl dt {
	 float: left;
	 padding: 5px 0 5px 0;
	 width: 10em;
}
.total-price dl dd {
	text-align: right;
 border-bottom: 1px solid #ccc;
 padding: 5px 0 5px 10em;
}


/* テーブル
------------------------------------------------------------------------------- */
table.format01 {
	width: 100%;
}
table.format01 td {
	padding-bottom: 1.5em;
}

/* テーブル
------------------------------------------------------------------------------- */
table.brwsr2 {
	width: 100%;
	border: none;
	border-top: solid 1px #ccc;
	border-bottom: solid 1px #ccc;
	border-collapse: separate;
	border-spacing: 0 10px;
	background: #f5f5f5;
	margin-bottom: 2.5em;
}
table.brwsr2 th {
	vertical-align: middle;
	width: 20%;
	height: auto;
	border-right: solid 1px #ccc;
	margin: 0;
	font-size: 14px;
	font-size: 1.4rem;
	font-weight: normal;
}
table.brwsr2 td.data {
	width: 90%;
	height: auto;
	padding: 0 0 0 1em;
	margin: 0;
	border: none;
	font-size: 14px;
	font-size: 1.4rem;
	vertical-align: middle;
	overflow: hidden;
}

table.remix th {
	width: 25%;
	font-weight: normal;
	text-align: left;
}
table.remix td.data {
	width: 90%;
}

table th span.block,
table td span.block {
	display: block;
} 



table.brwsr2 td:fst-child {
	padding: 0 0 0 10px;
	vertical-align: middle;
}
table.brwsr2 td.bar {
	height: 1px;
	width: 100%;
	border-top: solid 1px #ccc;
}


/* min-width:375px
==================================================================================== */
@media screen and (min-width:375px){
}
/* min-width:480px
==================================================================================== */
@media screen and (min-width:480px){
}
/* min-width: 768px PC
==================================================================================== */
@media screen and (min-width:768px){
.form-wrapper {
	padding: 3em;
	margin-bottom: 3em;
}

.form-wrapper input {
	height: 45px;
	margin: 0.4em 0 0.4em;
	padding: 0.5em;
}

select.select-box01  {
	height: 45px;
	padding: 0.6em 3em 0.6em 0.8em;
}
select.full-width  {
	width: 100%;
}

.cart-body select.select-box01  {
	background-size: 11px auto;
}
}
/* min-width:992px
==================================================================================== */
@media screen and (min-width:992px){
}
/* min-width:1200px
==================================================================================== */
@media screen and (min-width:1200px){
}