
/* common */
.tsunagu-wrapper{
font-family: "游明朝", YuMincho, "Hiragino Mincho ProN W3", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
}
.flex-box{
  display: flex;
}
.sp-br{
  display: none;

}
.w50{
  width: 50%;
}
.imgfull{
  width: 100%;
  height: auto;
  }
.contects-section{
  width: 991px;
  margin: 8em auto;
}
.tsunagu-section-txt p{
  padding-bottom: 24px;
  font-size: 1.1em;
}
.tsunagu-section-ttl2{
  font-size: 3rem;
  margin-bottom: 2em;
}
.tsunagu-section-ttl2:before{
  content: "○";
  padding-right: 10px;
}
/* section1 */

h2.tsunagucopy{
  text-align: center;
    margin: 9em auto;
}
.tsunagucopy1{
    font-size: 3.5rem;
    letter-spacing: 0.55em;
    margin-bottom: 20px;

}
.tsunagucopy2{
  font-size: 6.0rem;
    letter-spacing: 0.3em;
    margin-left: -23px;
}

/* section2 */
.tsunagu-1section-l{
  width: calc(50% - 4%);
  padding: 10% 2% 0;
  font-weight: bold;
}
.tsunagu-1section-l h2{
  font-size: 1.35em;
}
.tsunagu-1section-r{
  width: 50%;
}
#tsunagu-1section-txt{
  padding:100px 200px 50px 0;  
}



/* section3 */
section#tsunagu-2section{
}
.tsunagu-ttl-wrap{
  text-align: center;
  padding: 4em;
}
.tsunagu-ttl1{
    font-size: 2rem;
    letter-spacing: 0.15em;
    margin-bottom: 0px;
}
.tsunagu-ttl2{
  font-size: 4.0rem;
  letter-spacing: 0.3em;
 margin-left: 7px;
}
.tsunagu-photo-gullery{
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
}
.tsunagu-photo-gullery img{
  width: 100%;
  height: auto;
}
/* section4 */
#tsunagu-theme-wrap:after{
  content: "";
  display: block;
  clear: both;
}
.tsunagu-theme-sec{
  width: 50%;
  box-sizing: border-box;
}
.tsunagu-theme-sec:nth-child(odd){
  float: left;
  padding-top: 100px;
  text-align: right;
}
.tsunagu-theme-sec:nth-child(even){
  float: right;
  border-left: 1px solid #000;
  padding-top: 100px;
  text-align: left;
}
.tsunagu-theme-sec:nth-child(2){
   padding-top: 200px;
  }


.tsunagu-theme-sec .tsunagu-theme-copy{
  font-weight: bold;
  font-size: 2.8rem;
  padding-top: 20px;
}
.tsunagu-theme-copy{
  margin-bottom: 20px;
}

.tsunagu-theme-sec:nth-child(odd) .tsunagu-theme-copy{
  text-align: right;
  padding-right: 64px;
}
.tsunagu-theme-sec:nth-child(even) .tsunagu-theme-copy{
  text-align: left;
  padding-left: 64px;
}
.tsunagu-theme-sec:nth-child(odd) .tsunagu-theme-ttl{
  font-size: 1.6rem;
  width: 60%;
  display: inline-block;
  padding: 20px 5px;
  border-bottom: 1px solid #000;
}
.tsunagu-theme-sec:nth-child(even) .tsunagu-theme-ttl{
  font-size: 1.6rem;
  text-align: left;
  width: 60%;
  display: inline-block;
  padding: 20px 5px;
  border-bottom: 1px solid #000;
}
.tsunagu-theme-sec:nth-child(odd) .tsunagu-theme-img{
  text-align: right;
  padding-right: 64px;
}
.tsunagu-theme-sec:nth-child(even) .tsunagu-theme-img{
  text-align: left;
  padding-left: 64px;
}
.tsunagu-theme-sec .tsunagu-theme-img{
  position: relative;
}
.tsunagu-theme-sec .tsunagu-theme-img img{
  width: 100%;
  height: auto;
}
.tsunagu-theme-sec .openModal {
    position: absolute;
    background-color: rgba(255,255,255,0.8);
    width: 80px;
    height: 80px;
    text-align: center;
    border-radius: 50%;
    line-height: 80px;
    letter-spacing: -0.1em;
    font-size: 0.9em;
    left: 50%;
    top: 50%;
    margin-top: -40px; 
    border:2px #000 dotted;
    cursor: pointer;
}
.tsunagu-theme-sec:nth-child(odd) .openModal {
    margin-left: -72px;
}
.tsunagu-theme-sec:nth-child(even) .openModal {
   margin-left: 0; 
  }

/* section5 */
#omx:after{
   content: "";
  display: block;
  clear: both;
}
.menseki-box{
  padding: 20px;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  display: flex;
  margin-top: 24px;
}
.menseki-box div:first-child{
  width: 10%;
  }
.menseki-box div:last-child{
  width: 90%;
  }
#heimen-warp .smalltxt{
  text-align: right;
  font-size: 0.8em
}
/* section6 */
.omx-sec-1,.omx-sec-3{
  float: left;
  width: 50%;

}
.omx-txt{
  padding:40px 0;
  font-size: 1.8rem;
}
.omx-sec-2{
  float: right;
  width: 50%;
  box-sizing: border-box; 

}
.omx-sec-2 > div{
   padding:40px;
   box-sizing: border-box; 
  }
.omx-sec-2 h4{
  font-weight: bold;
}
.omx-exp{
  padding:12px 24px;
}
.omx-sec-3{
  padding-top: 150px;
}
..omx-sec-3 h4{
font-size: 1.6rem;
}
.price2 td,.price2 th {
    border: 1px solid #4a5568;
    font-weight: normal;
    padding: 3px 10px;
    text-align: center;
    font-size: 1.2rem;
}
.price2 .em{
    background: #fffad8;
}
/* section7 */

#tsunagu-kurashi-choice{
    background-image: url(../images/tsunagu/bg1.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}
.kurashi-choice-ttl{
  padding: 3em 0 2em;
  font-size: 3.2rem;
  text-align: center;

}
.choice-wrap{
  padding: 2%;
  align-items: center;
  max-width: 1400px;
  margin:0 auto; 
}
.choice-wrap > div:nth-child(odd){
  width: 30%;

}
.choice-wrap > div:nth-child(even){
  width: 3%;

}
.method-each-wrap{
  border:1px solid #fff;
  height: 720px;
}
.method-each-ttl{
  padding: 6px;
  border-bottom:1px solid #fff;
}
.method-each-ttl p{
  font-size: 1.8rem;
  font-weight: bold;
  display: block;
  background-color: #fff;
  padding: 10px 0;
  }
.choice-each-between{
  color: #fff;
}
.method-each-inner{
  padding: 20px;
}
.method-sec1-list li{
  display: block;
  background-color: #fff;
  padding: 12px;
  margin-bottom: 20px;
  font-size: 1.8rem;
}
.method-sec1-list{
  margin-bottom: 64px;
}
.method-sec1-p{
  font-size: 2rem;
  font-weight: bold;
}

.method-sec2-block{
  margin-bottom: 24px;
}
.method-sec2-num{
  font-size: 3.4rem;

}
.method-sec2-jp{
   font-size: 2.4rem;
   display: block;

}
.method-sec2-en{
   font-size: 3.8rem;
}
.method-sec2-p{
  padding: 16px 0;
  font-size: 1.8rem;
}
.method-sec3-p{
  font-size: 1.8rem;
  text-align: left;
}
/* section8 */
.tsunagu-sekinin-wrap{
  padding: 2% 2% 200px 2%;
  align-items: center;
  max-width: 1400px;
  margin:0 auto; 


}
.tsunagu-sekinin-box{
  border:1px solid #fff;
  padding: 124px 24px ;
  position: relative;
  align-items: center;
}
.tsunagu-sekinin-leftup-img{
  position: absolute;
  left: -30px;
  top: -30px;

}
.tsunagu-sekinin-rightup-img{
  position: absolute;
  right: -30px;
  top: -30px;
  
}
.tsunagu-arrow-under{
  padding: 26px 0;
}
.tsunagu-sekinin-box h3{
  margin-bottom: 20px;
}
.tsunagu-sekinin-box h4{
  font-weight: bold;
  margin-bottom: 16px;
  font-size: 1.8rem;
}

.sekinin-step-tsukuru{order: 1; width: 25%}
.sekinin-step-l{order: 2; width: 5%}
.sekinin-step-main{order: 3; width: 40%}
.sekinin-step-r{order: 4;width: 5%}
.sekinin-step-tsukau{order: 5; width: 25%}

/* section9 */
.sanpoyoshi-wrap{
  flex-direction: row-reverse;
  align-items: center;
  margin-bottom: 4em;
}
.sanpoyoshi-copy{
  text-align: center;
  width: 60%;
  font-size: 2rem;
  font-weight: bold;
}
.sanpoyoshi-img{
  width: 40%;
}
.signbox{
  text-align: right;
}



/* モーダルCSS */
.modalArea {
  display: none;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.modalBg {
  width: 100%;
  height: 100%;
  background-color: rgba(30,30,30,0.9);
}
.modalWrapper {
  position: absolute;
  top: calc( 50% + 43px);
  left: 50%;
  transform:translate(-50%,-50%);
  width: 70%;
  padding: 10px 30px;
  background-color: #fff;
   height : 65%; 
  overflow : auto; 
}
.closeModal {
  position: absolute;
  top: 0.5rem;
  right: 2rem;
  cursor: pointer;
  font-size: 3rem;
}
.entire-box{
  display: none;
}
/* max-width: 990px
==================================================================================== */
@media screen and (max-width:990px){
.contects-section{
  width: 100%;
  margin: 60px auto;
}
#tsunagu-1section-txt{
  padding: 60px 3% 0;
}
.tsunagu-section-txt{
  padding: 0 3%;
}
#heimen-warp{
  padding: 0 3%;
}
.choice-wrap{
  flex-wrap: wrap;
}
.choice-wrap > div:nth-child(odd),
.choice-wrap > div:nth-child(even){
  width: 100%;
}
.method-each-wrap{
  height: auto;
}
#sanpoyoshi{
  padding: 0 3%;
}
#sanpoyoshi .tsunagu-section-txt{
  padding: 0;
}

}
/* max-width: 768px
==================================================================================== */
@media screen and (max-width:768px){
h2.tsunagucopy{
  margin: 9em auto 2.5em;
}
.tsunagucopy1{
  font-size: 1.2em;
  letter-spacing: 0.1em;
  margin-bottom: 10px;
}
.tsunagucopy2{
  font-size: 2em;
  margin-left: 0;
  line-height: 1;
}
.tsunagucopy2 span{
  display: block;
  font-size: 0.5em;
  padding-top: 10px;
  position: relative;
}
.tsunagucopy2 span::before{
  content: '-';
}
.tsunagucopy2 span::after{
  content: '-';
}
.flex-box{
  flex-wrap: wrap;
}
.tsunagu-1section-l,
.tsunagu-1section-r{
  width: 100%;
}
.tsunagu-1section-l{
  padding: 0 4% 80px 4%;
}
.tsunagu-1section-l h2{
  line-height: 2;
  font-size: 1.5em;
}
.sp-br{
  display: block;
}
.tsunagu-theme-sec:nth-child(odd),
.tsunagu-theme-sec:nth-child(even){
  float: none;
  width: 100%;
  text-align: center;
  padding: 0 3% 70px 3%;
}
.tsunagu-theme-sec:nth-child(even) .tsunagu-theme-ttl{
  text-align: center;
}
.tsunagu-theme-sec:nth-child(odd) .tsunagu-theme-copy,
.tsunagu-theme-sec:nth-child(even) .tsunagu-theme-copy{
  text-align: center;
  padding: 20px 0;
}
.tsunagu-theme-sec:nth-child(odd) .tsunagu-theme-img,
.tsunagu-theme-sec:nth-child(even) .tsunagu-theme-img{
  padding: 0;
  position: relative;
}
.tsunagu-theme-sec .openModal{
  transform: translateY(-50%) translateX(-50%);
  -webkit- transform: translateY(-50%) translateX(-50%);
  margin-top: 0;
}
.tsunagu-theme-sec:nth-child(odd) .openModal{
  margin-left: 0;
}
.tsunagu-section-ttl2{
  font-size: 2.6rem;
}
#heimen-warp .w50{
  width: 100%;
  margin-bottom: 30px;
}
.menseki-box{
  flex-wrap: wrap;
}
.menseki-box div:first-child,
.menseki-box div:last-child{
  width: 100%;
}
#omx{
  padding: 0 3%;
}
.omx-sec-1,
.omx-sec-2,
.omx-sec-3{
  float: none;
  width: 100%;
}
.omx-sec-1{
  text-align: center;
}
.omx-txt{
  text-align: left;
}
.omx-txt .ttl{
  text-align: center;
  font-size: 1.3em;
  margin-bottom: 30px;
}
.omx-sec-2 > div{
  padding: 40px 0;
}
.omx-sec-3{
  padding-top: 50px;
}
.omx-exp{
  padding: 0;
}
.table_box{
  overflow-x: scroll;
}
.table_box table{
  width: 100%;
  border-collapse: collapse;
  white-space: nowrap;
}
.sekinin-step-main,
.sekinin-step-tsukuru,
.sekinin-step-tsukau{
  order: unset;
  width: 100%;
  background-color: #fff;
  padding: 30px;
  margin-bottom: 8px;
}
.sekinin-step-tsukau{
  margin-bottom: 0;
}
.sekinin-step-l,
.sekinin-step-r{
  display: none;
}
.tsunagu-sekinin-leftup-img{
  position: relative;
  left: auto;
  top: auto;
}
.tsunagu-sekinin-rightup-img{
  position: relative;
  right: auto;
  top: auto;
}
.tsunagu-sekinin-wrap{
  padding: 2% 2% 5%;
}
.tsunagu-sekinin-box{
  padding: 8px;
}
#entire-wrap{
  padding: 30px 0;
  background-color: #fff;
}
#entire-wrap image{
  margin: 0 3%;
}
#entire-wrap .entire-img{
  padding: 0 3%;
}
.entire-box{
  margin-top: 50px;
  display: block;
  padding: 20px 3%;
  background-color: #f1f2f2;
}
.entire-box .txt{
  margin-bottom: 20px;
}
.entire-box .img{
  text-align: right;
}
.entire-box .tsunagu-section-ttl2{
  margin-bottom: 10px;
}
.sanpoyoshi-wrap{
  flex-direction: column;
}
.sanpoyoshi-copy{
  margin-bottom: 40px;
}
.sanpoyoshi-copy span{
  display: block;
  line-height: 2.5;
}
.sanpoyoshi-copy span:first-child{
  margin-right: 50px;
}
.sanpoyoshi-copy span:nth-child(3){
  margin-left: 50px;
}
.anpoyoshi-img{
  text-align: center;
}
.anpoyoshi-img img{
  width: 75%;
}
.signbox{
  width: 33.3%;
  margin: 0 0 0 auto;
}
}