@charset "utf-8";

.l-footer {
	position: relative;
}

body#contact .sub-footer {
	display: none;
}

.addres {
	text-align: center;
	margin-bottom: 1em;
}

.bottom-content .container {
	position: relative;
}

.bottom-content {
	padding:  2em 0 2em 0;
	background: rgba(167, 188, 10, 1);
	color: #fff;
}

.bottom-content .button {
	background-color: none;
	border: 2px solid #fff;
	color: #a7bc0a;
}
.bottom-content .button:hover {
	background-color: #999;
	border-color: #999;
	color: #fff;
}

.footer-inner {
	padding: 3em 0 1em;
	background-color: #f6f6f6;
}

.footer-inner ul {
	border-left: 1px solid #dadada;
	padding: 0 0 0 1em;
	margin-bottom: 2em;
	line-height: 1.8;
}

.footer-inner ul li:first-child {
	font-weight: bold;
	padding-bottom: 0.5em;
	font-size: 14px;
	font-size: 1.4rem;
}

.sns-title {
	font-weight: bold;
	padding-bottom: 0.5em;
	font-size: 14px;
	font-size: 1.4rem;
}

.footer-inner ul li {
	font-size: 13px;
	font-size: 1.3rem;
	line-height: 2;
}

.fb-container {
	max-width: 500px;
	background: #e1e1e1;
	padding: 1em;
	margin-bottom: 1em;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
}

.copyright {
	padding: 3em;
	font-size: 12px;
	font-size: 1.2rem;
	line-height: 2;
	background: #494949;
	color: #fff;
	text-align: center;
}

.copyright a {
	color: #fff;
}

/* pagetop
------------------------------------------------------------------------------- */
.pagetop {
	display: none;
	position: fixed;
	bottom: 2.5em;
	right: 2em;
	z-index: 99999;
	font-size: 10px;
}

.pagetop a {
	display: block;
	text-decoration: none;
	color: #fff;
	width: 50px;
	height: 50px;
	background: rgba(0, 0, 0, .2);
	
	text-align: center;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
}

a.arrow-top {
	display: block;
	position: relative;
	color: #000;
	font-weight: bold;
	text-decoration: none;
}

a.arrow-top:after {
	display: block;
	position: absolute;
	top: 24px; left: 17px;
	width: 16px;
	height: 15px;
	margin-top: -2px;
	border-top: solid 2px #fff;
	border-left: solid 2px #fff;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	content: "";
}

/* min-width:375px
==================================================================================== */
@media screen and (min-width:375px){
}

/* min-width:480px
==================================================================================== */
@media screen and (min-width:480px){
}

/* min-width: 768px PC
==================================================================================== */
@media screen and (min-width:768px){
.addres {
	text-align: left;
	margin-bottom: 0;
}

.pagetop {
	bottom: 3em;
	right: 3em;
}

}

/* min-width:992px
==================================================================================== */
@media screen and (min-width:992px){
}

/* min-width:1200px
==================================================================================== */
@media screen and (min-width:1200px){
}